#comic
  #comic-nav
    %ul
      %li
        = "<<"
      %li
        = "<"
      %li
        = ">"
      %li
        = ">>"
  #comic-content
    - if not ComicPost.last.nil?
      = image_tag ComicPost.last.comic
    - else
      = image_tag "stockcars.jpg"

%br
= link_to 'Sign up', signup_path
