#comic
  #comic-nav
    %ul
      %li
        = "<<"
      %li
        = "<"
      %li
        = ">"
      %li
        = ">>"
  #comic-content
    = image_tag ComicPost.last.comic

%br
= link_to 'Sign up', signup_path
