%header
  #logo
    = link_to "Logo here", root_path
  #nav
    %ul
      - if not signed_in?
        %li= link_to "Sign in", signin_path
      - else
        %li= link_to "Sign out", signout_path, method: "delete"
        %li= link_to "Account", user_path(current_user)
      - if is_admin?
        %li= link_to "Admin", admin_path
